:root {
  --color-blue: cyan;
  --color-gray: rgb(172, 170, 170);
  --color-green: rgb(5, 253, 5);
  --color-pink: rgb(247, 0, 255);
  --color-purple: rgb(143, 7, 255);
  --color-red: red;
  --color-yellow: yellow;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.8rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Flex & Grid */

.flex {
  display: flex;
  justify-content: center;
}

.grid {
  display: grid;
}

.grid--cols-2 {
  grid-template-columns: repeat(2, 1fr);
}

/* Containers */
.container {
  width: 92%;
  padding: 0 auto;
}

@media screen and (min-width: 992px) {
  .container {
    width: 75%;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 65%;
  }
}

/* Buttons */
.btn {
  background-color: var(--color-yellow);
  border: none;
  color: black;
  font-size: 2rem;
  font-weight: bold;
  padding: 0.5rem 1.5rem;
  width: 6rem;
  margin: 0 1rem;
  border-radius: 2rem;
  cursor: pointer;
}

.btn:hover {
  transform: scale(1.1);
}

.btn--green {
  background-color: var(--color-green);
}

.btn--blue {
  background-color: var(--color-blue);
}

.btn--pink {
  background-color: var(--color-pink);
}

.buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

@media screen and (min-width: 768px) {
  .btn {
    margin: 0 2rem;
    padding: .75rem 2.5rem;
    width: 10rem;
  }
}

/* CHOOSE GAME */
.chooseGame {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
  color: white;
  z-index: 100;
  width: 100vw;
  height: 100vh;
}

.chooseGame__main-title {
  font-size: 3rem;
  color: var(--color-blue);
  text-shadow: 3px 3px 3px var(--color-pink);
}

.chooseGame__main-title > span {
  font-size: 4.5rem;
  color: var(--color-pink);
  text-shadow: 3px 3px 3px var(--color-blue);
  font-family: 'Marck Script', cursive;
  letter-spacing: 2px;
}

.chooseGame__title {
  color: var(--color-yellow);
  font-size: 2.5rem;
  margin: 1rem 0;
}

.chooseGame__directions-title {
  font-size: 2.1rem;
  color: var(--color-pink);
  margin-top: 2rem;
}

.chooseGame__directions-text {
  font-size: 1.8rem;
  line-height: 2.2rem;
  margin-top: 0;
}

@media screen and (min-width: 768px) {
  .chooseGame {
    justify-content: space-evenly;
  }

  .chooseGame__main-title {
    font-size: 6rem;
  }
  
  .chooseGame__main-title > span {
    font-size: 8.5rem;
  }
  
  .chooseGame__title {
    font-size: 4rem;
  }
  
  .chooseGame__directions-title {
    font-size: 3rem;
  }
  
  .chooseGame__directions-text {
    font-size: 2.2rem;
    line-height: 3rem;
  }

}

@media screen and (min-width: 992px) {
  .chooseGame__main-title {
    font-size: 7rem;
  }

  .chooseGame__main-title > span {
    font-size: 9rem;
  }
  
  .chooseGame__directions-title {
    font-size: 3.5rem;
  }
}

@media screen and (max-height: 415px) {
  .chooseGame__main-title {
    margin-bottom: 0;
  }
  
  .chooseGame__directions-title {
    margin-top: 1rem;
  }
}

/* FORM */
.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
  width: 100vw;
  height: 100vh;
}

.form__title {
  font-size: 4rem;
  color: var(--color-yellow);
  margin-bottom: 0;
  text-align: center;
}

.form__directions {
  text-align: center;
  color: white;
  font-size: 2rem;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form__btn {
  margin-top: 2rem;
  width: unset;
}

/* MAIN CONTENT */
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main__title {
  text-align: center;
  font-size: 3rem;
  margin: 0;
  color: var(--color-blue);
  text-shadow: 3px 3px 3px var(--color-pink);
}

.main__title > span {
  font-size: 4.5rem;
  color: var(--color-pink);
  text-shadow: 3px 3px 3px var(--color-blue);
  font-family: 'Marck Script', cursive;
  letter-spacing: 2px;
}

.box {
  height: 3.7rem;
  width: 3.7rem;
  border: 2px solid var(--color-pink);
  margin: 0.25rem;
  font-size: 4rem;
  font-weight: bold;
  color: white;
  text-shadow: 2px 2px 2px black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main__btn {
  margin-top: .25rem;
  font-size: 1.5rem;
  width: unset;
}

.boxPink {
  background-color: var(--color-pink);
}

.boxBlue {
  background-color: var(--color-blue);
  border-color: var(--color-blue);
}

.boxGray {
  background-color: var(--color-gray);
  border-color: var(--color-gray);
}

.boxFlip {
  animation: flip 0.45s;
}

@keyframes flip {
  10% {
    transform: rotateX(180deg);
  }
  100% {
    transform: rotateX(0deg)
  }
}

.main__game-info {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: .5rem;
}

.main__word-count {
  color: white;
  font-size: 2.5rem;
  font-weight: bold;
  margin: 0 2rem;
}

.time {
  color: var(--color-yellow);
  font-size: 2rem;
  font-weight: bold;
}

.time-finished {
  color: var(--color-green);
  font-size: 3rem;
}

.message {
  color: var(--color-yellow);
  font-size: 2rem;
  font-weight: bold;
  margin: .25rem 0 0;
  min-height: 3.8rem;
}

.error {
  animation: shake 0.6s;
}

@keyframes shake {
  20% {
    transform: translateX(7px);
    border-color: var(--color-yellow);
  }
  40% {
    transform: translateX(-7px);
  }
  60% {
    transform: translateX(7px);
    border-color: var(--color-yellow);
  }
  80% {
    transform: translateX(-7px);
  }
  100% {
    transform: translateX(0);
  }
}

.keyboard {
  position: absolute;
  bottom: .75rem;
}

.keyboard__row {
  display: flex;
  justify-content: center;
}

.key {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 2.9rem;
  min-height: 4.5rem;
  margin: 0.1rem;
  color: var(--color-purple);
  border: 2px solid var(--color-purple);
  font-size: 3rem;
  text-align: center;
  text-shadow: 2px 2px 2px black;
}

.key:hover {
  cursor: pointer;
  transform: scale(1.1);
  border-color: white;
  color: white;
}

.key--special {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 2rem;
  max-width: 4rem;
  text-shadow: 2px 2px 2px black;
}

.key--enter {
  background-color: var(--color-green);
  border-color: var(--color-green);
}

.key--delete {
  background-color: var(--color-red);
  border-color: var(--color-red);
}

.keyPink {
  background-color: var(--color-pink);
  border-color: var(--color-pink);
  color: white;
}

.keyBlue {
  background-color: var(--color-blue);
  border-color: var(--color-blue);
  color: white;
}

.keyGray {
  background-color: var(--color-gray);
  border-color: var(--color-gray);
  color: white;
}

@media screen and (min-width: 768px) {
  .main__title {
    font-size: 6rem;
  }

  .main__title > span {
    font-size: 8rem;
    letter-spacing: 2px;
  }

  .box {
    border-width: 5px;
  }

  .main__btn {
    font-size: 2rem;
  }

  .main__word-count {
    font-size: 3rem;
  }
  
  .time {
    font-size: 3rem;
  }

  .key {
    min-width: 6rem;
  }

  .key--special {
    font-size: 2.5rem;
    min-width: 10rem;
  }
}

@media screen and (max-height: 415px) {
  .main__title {
    font-size: 2rem;
  }

  .main__title > span {
    font-size: 3rem;
  }

  .box {
    height: 1.6rem;
    width: 3rem;
    border-width: 1px;
    margin: 0.1rem;
    font-size: 1.5rem;
    text-shadow: 1.5px 1.5px 1.5px black;
  }
  
  .main__btn {
    font-size: 1.2rem;
    padding: .5rem .75rem;
  }
  
  .main__word-count {
    font-size: 1.6rem;
  }
  
  .time {
    color: var(--color-yellow);
    font-size: 1.6rem;
    font-weight: bold;
  }
  
  .time-finished {
    font-size: 1.6rem;
  }
  
  .message {
    font-size: 1.6rem;
  }
  
  .keyboard {
    position: absolute;
    bottom: .15rem;
  }
  
  .key {
    min-width: 4rem;
    min-height: 3rem;
    margin: 0.1rem;
    border-width: 2px;
    font-size: 2rem;
    text-shadow: 1.5px 1.5px 1.5px black;
  }
  
  .key--special {
    text-shadow: 1.5px 1.5px 1.5px black;
  }
}

/* LOW TIME */
.lowTime {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: black;
  z-index: 100;
  width: 100vw;
  height: 100vh; 
}

.lowTime__title {
  color: var(--color-blue);
  font-size: 2.5rem;
  margin-top: .75rem;
  margin-bottom: .25rem;
}

.lowTime__subtitle {
  color: var(--color-pink);
  font-size: 2rem;
  margin-top: 0;
  margin-bottom: .25rem;
}

.lowTime__column {
  display: flex;
  justify-content: center;
}

.lowTime__list {
  display: flex;
  flex-direction: column;
  margin-bottom: 0;
  margin-top: 0;
  min-width: 9rem;
  padding-left: 3rem;
}

.lowTime__list-item {
  padding: .1rem;
  color: white;
  font-size: 1.6rem;
  font-weight: bold;
}

.lowTime__list-name {
  width: 19.75rem;
}

.lowTime__list-time {
  padding-left: 1rem;
}

.lowTime__list-score {
  list-style-type: none;
}

.lowTime__your-score {
  font-size: 2rem;
  color: var(--color-green);
  margin: .75rem .75rem .75rem;
}

.lowTime__your-score > span {
  color: white;
  margin-right: 1.5rem;
}

@media screen and (min-width: 768px) {
  .lowTime {
    justify-content:space-evenly;
  }

  .lowTime__title {
    font-size: 6rem;
    margin-bottom: 1rem;
  }
  
  .lowTime__subtitle {
    font-size: 4rem;
  }

  .lowTime__columns {
    display: flex;
  }

  .lowTime__column {
    display: flex;
    justify-content: center;
  }

  .lowTime__column:first-of-type {
    margin-right: 1.5rem;
  }
  
  .lowTime__list-item {
    padding: .2rem; 
    font-size: 1.8rem;
  }
  
  .lowTime__list-name {
    width: 21.5rem;
  }
  
  .lowTime__list-score {
    list-style-type: none;
  }
  
  .lowTime__your-score {
    font-size: 3.5rem;
    color: var(--color-green);
    margin: 1rem 1rem 1rem;
  }
}

@media screen and (min-width: 992px) {
  .lowTime__column:first-of-type {
    margin-right: 5rem;
  }
}

@media screen and (max-height: 415px) {
  .lowTime__subtitle {
    margin-bottom: .25rem;
  }

  .lowTime__columns {
    display: flex;
  }

  .lowTime__column {
    padding: 0 1rem;
    display: flex;
    justify-content: center;
  }
  
  .lowTime__list-item {
    font-size: 1.5rem;
  }
  
  .lowTime__list-name {
    width: 19rem;
  }

  .lowTime__list-time {
    padding-left: 0;
  }
}
